{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}


        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->

        <!-- this partially hardcoded urls can be replaced by {% url %} tag -->
        <!--since name arguments has been defined in path fun in polls.urls,
          so u can remove a reliance on specific URL paths in your url confs by using
          {% url %}tag-->

          <li><a href="{% url 'polls:detail' question.id}"></a>{{ question.question_text}}</li>
          <!--polls:detail -- polls specifies namespace  -->

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
